<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoGuru99 Application Test Automation Test Suite">

	<listeners>
		<listener class-name="testListener.ExtentReporter" />
	</listeners>


	<test name="DemoGuru99 App Test Cases">
		<classes>
			<class name="testCases.LoginPageTest"></class>
			<class name="testCases.RegistrationPageTest"></class>
		</classes>
	</test>
</suite>